<ion-header>
    <ion-toolbar  color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>listOperationId</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-list *ngIf="op" >     
    <ion-item>CodeEnvoi :{{op.CodeEnvoi}}</ion-item>
  <ion-item>Montant :{{op.Montant}} FCFA</ion-item>
  <ion-item>Envoyeur: {{op.Envoyeur}}</ion-item> 
  <ion-item>dateEnvoi: {{op.dateEnvoi}}</ion-item>
  <ion-item>telEnvoyeur: {{op.telEnvoyeur}}</ion-item>
  <ion-item>telRecepteur: {{op.telRecepteur}}</ion-item>
  <ion-item>commission: {{op.commission}} FCFA</ion-item>
</ion-list>
<ion-button  expand="block" color="success">
    Imprimer
  </ion-button>
</ion-content>
