<ion-header>
  <ion-toolbar color="success">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
        <ion-card class="card-body">
          <form  [formGroup]="user">
            
              <ion-item >
              <ion-icon name="mail" slot="start" color="success"></ion-icon>
              <ion-input formControlName="email" name="email" type="text"  required  placeholder="email"></ion-input>
              </ion-item >

            <!-- <div class="form-group">

                <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}

                </div>
              </div> -->

            <ion-item >
                <ion-icon slot="start" name="key" color="success"> </ion-icon>
              <ion-input formControlName="password" name="password"  type="password"  required placeholder="password"></ion-input>
            </ion-item>
            <ion-button (click)="loginUser(user.value)" expand="block" color="success" [disabled]="!user.valid">
              Login
            </ion-button>
          </form>
        </ion-card>

</ion-content>
