.active{
    --ion-text-color : var(--ion-color-success);
    ion-icon{
        --ion-text-color : var(--ion-color-success);

    }
}

.active-parent{
     font-weight: 500;
}
.sub-item{
    padding-left: 20px;
    font-size: small;
}