<ion-header>
    <ion-toolbar  color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>retrait</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <ion-label>CodeEnvoi</ion-label> 
    <ion-input type="text" [(ngModel)]="codeEnvoiArray.CodeEnvoi"></ion-input>
    <button (click)="onRetrait(codeEnvoiArray.CodeEnvoi)"  class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>

  </ion-item> 
</ion-content> 
  <!-- <form class="form-inline md-form mr-auto mb-4"  #retraitForm="ngForm" >
        <input [(ngModel)]="codeEnvoiArray.CodeEnvoi" name="CodeEnvoi" class="form-control mr-sm-2" type="text" placeholder="CodeEnvoi" required>
        <div class="form-group">
      
          <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}
      
          </div>
        </div>  
        <button (click)="onRetrait(codeEnvoiArray.CodeEnvoi)"  class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
      </form> 
      
      <div class="jumbtron">
        
        <div class="row" *ngIf="afficher" >

          <div class="col-md-7">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">CodeEnvoi</th>
                      <th scope="col">Envoyeur</th>
                      <th scope="col">Montant</th>
                      <th scope="col">Destinataire</th>
                      <th scope="col">telRecepteur</th>
                      <th scope="col">ComRetrait</th>
      
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td>{{codeEnvoiArray.CodeEnvoi}}</td>
                      <td>{{codeEnvoiArray.Envoyeur}}</td>
                      <td>{{codeEnvoiArray.Montant}} CFA</td>
                      <td>{{codeEnvoiArray.Destinataire}}</td>
                      <td>{{codeEnvoiArray.telRecepteur}}</td>
                      <td>{{codeEnvoiArray.comRetrait}} CFA</td>
                      
                    </tr>
                   
                  </tbody>
                </table>
      
          </div>
       --> 