<ion-header>
    <ion-toolbar  color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>retrait</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <ion-label>CodeEnvoi</ion-label> 
    <ion-input type="text" [(ngModel)]="codeEnvoiArray.CodeEnvoi"></ion-input>
    <button (click)="onRetrait(codeEnvoiArray.CodeEnvoi)"  class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
  </ion-item> <br>

  <ion-list *ngIf="afficher" > 
  <ion-item>CodeEnvoi :{{codeEnvoiArray.CodeEnvoi}}</ion-item>
  <ion-item>Montant :{{codeEnvoiArray.Montant}} FCFA</ion-item>
  <ion-item>Envoyeur: {{codeEnvoiArray.Envoyeur}}</ion-item> 
  <ion-item>dateEnvoi: {{codeEnvoiArray.dateEnvoi}}</ion-item>
  <ion-item>telEnvoyeur: {{codeEnvoiArray.telEnvoyeur}}</ion-item>
  <ion-item>telRecepteur: {{codeEnvoiArray.telRecepteur}}</ion-item>
  <ion-item>commission: {{codeEnvoiArray.commission}} FCFA</ion-item>
</ion-list>
</ion-content> 
  <!-- 
        <div class="form-group">  
          <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}    
          </div>
        </div>     
          </div>
       --> 
       <div class="col-md-5"  *ngIf="afficher" >
          <div class="row pt-5">
              <div class="col-md-6 mx-auto">
                <div class="card rounded-0">
                  <div class="card-header">
                    <h3 class="mb-0">Faire un Retrait</h3>
                  </div>
                  <div class="card-body" >
                    <form class="form" #validerForm="ngForm">  
                      <div class="form-group">
                        <label for="">Code de Retrait</label>
                        <input  [(ngModel)]="infoRetrait.CodeEnvoi" name="CodeEnvoi" type="text" class="form-control rounded-0" placeholder="codeRetrait" required>
                      </div>
            
                      <div class="form-group">
                        <label for="">CNI</label>
                        <input [(ngModel)]="infoRetrait.cniRecepteur" name="cniRecepteur" type="text" class="form-control rounded-0" placeholder="CNI" required>
                      </div>
  
            
                      <button (click)="DoRetrait(infoRetrait)" type="submit" class="btn btn-success float-right">
                        Retrait
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>