<ion-header>
    <ion-toolbar  color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <form >  
  
        <ion-item>
            <ion-input  placeholder="Destinataire"  [(ngModel)]="postEnvoi.Destinataire" name="Destinataire"> </ion-input>
        </ion-item>
        
         <ion-item>
              <ion-input  placeholder="Envoyeur"  name="Envoyeur" [(ngModel)]="postEnvoi.Envoyeur" ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input placeholder="Montant"  [(ngModel)]="postEnvoi.Montant" name="Montant"></ion-input>
      </ion-item>

    
          <ion-item>
            <ion-input placeholder="cniEnvoyeur"  [(ngModel)]="postEnvoi.cniEnvoyeur" name="cniEnvoyeur"></ion-input>
        </ion-item>
    
          <ion-item>
            <ion-input  placeholder="telEnvoyeur"  [(ngModel)]="postEnvoi.telEnvoyeur" name="telEnvoyeur"></ion-input>
        </ion-item>

          <ion-item>
              <ion-input  placeholder="telRecepteur"  [(ngModel)]="postEnvoi.telRecepteur" name="telRecepteur"></ion-input>
        </ion-item>
    
          <ion-button  (click)="faireEnvoi()" expand="block" color="success">
            Envoyer
          </ion-button>     
      </form>  
</ion-content>

