<ion-header>
  <ion-toolbar  color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      WariApps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
       <strong>{{contact.name}}</strong>
      </ion-item>
      <ion-item>
        <strong>{{contact.email}}</strong>
      </ion-item>
      <ion-item>
        <strong>{{contact.tel}}</strong>
      </ion-item>
      <ion-card-title>
        Sonatel Academy
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="contact.logo1"></ion-img>
      <ion-img [src]="contact.logo2"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
